@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;500;600;700');



/******************************************************************************/



:root {
  --spacing: 50px;
  --bg: rgb(240 243 246);
  --shadow: 0 0 50px rgb(0 0 0 / 5%);
}



/******************************************************************************/



body {
  height: 100vh;
  font: 16px/1.5 'Hind', system-ui, sans-serif;
  color: #3F4653;
  background: var(--bg);
}

a {
  text-decoration: none;
}

h1, .h1 { font-size: 44px; }
h2, .h2 { font-size: 28px; }
h3, .h3 { font-size: 20px; font-weight: 600; }
h4, .h4 { font-size: 16px; font-weight: 400; text-transform: uppercase; }



/******************************************************************************/



.app {
  display: flex;
  flex-wrap: wrap;
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 70px;
  margin-bottom: var(--spacing);
  padding: 0 var(--spacing);
  background: #fff;
  box-shadow: var(--shadow);
  z-index: 1;
}

.logo {
  width: 140px;
}

.header .dropdown {
  display: flex;
  align-items: center;
  padding-right: 35px;
  background: right center / 16px 16px no-repeat url(https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-down-b-1024.png);
}

.header .dropdown-photo {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border-radius: 50%;
  overflow: hidden;
}

.header .dropdown-photo img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.header .dropdown-user {
  flex: 1;
  line-height: 1.3;
}

.header .dropdown-user .dropdown-name {
  font-weight: 600;
}

.header .dropdown-user .dropdown-role {
  font-size: 14px;
  color: #aaa;
}

.sidebar {
  width: 300px;
  padding: 0 var(--spacing);
}

.sidebar ul {
  list-style: none;
  position: sticky;
  top: 120px;
  margin: 0 0 50px;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  --default : url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="%23969da4" fill-rule="evenodd" clip-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"/></svg>');
  --hover   : url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="%23222" fill-rule="evenodd" clip-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"/></svg>');
  display: block;
  padding: 10px 0;
  font-weight: 500;
  color: #969da4;
  background: right center / 20px 20px no-repeat var(--default);
}

.sidebar a:hover,
.sidebar a.active {
  color: #222;
  background-image: var(--hover);
  cursor: pointer;
}

.content {
  flex: 1;
  min-height: calc(100vh - 120px);
  margin-right: var(--spacing);
  padding: var(--spacing);
  border-radius: 10px 10px 0 0;
  background: #fff;
  box-shadow: var(--shadow);
}



/******************************************************************************/



.medplan-tabs {
  display: flex;
  margin: 20px 0;
}

.medplan-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80px;
  height: 75px;
  margin-right: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  border-radius: 4px;
  background: var(--bg);
}

.medplan-tab:hover {
  cursor: pointer;
}

.medplan-tab.active {
  background: #8099e9;
}

.medplan-tab.active * {
  color: #fff;
}

.medplan-tab-day {
  font-size: 18px;
  font-weight: 500;
}

.medplan-tab-date {
  font-size: 13px;
  font-weight: 500;
  color: #969da4;
}

.medplan-day:not(.active) {
  display: none;
}



/******************************************************************************/



.auth-wrap {
  max-width: 400px;
  margin: 0 auto;
  padding: 100px 0 60px;
}

.auth-wrap .logo {
  margin: 0 auto;
}

.auth-form {
  margin: 40px 0;
  padding: var(--spacing);
  border-radius: 10px;
  background: #fff;
  box-shadow: var(--shadow);
}



/******************************************************************************/



/* Dealing with Bootstrap */

.form-control {
  border: 2px solid #40404652;
}

.form-control:focus {
  border-color: #8099e8;
  box-shadow: 0 0 0 0.25rem rgb(128 153 232 / 25%);
}

.form-floating > label {
  padding-top: 1.1rem;
}

.form-floating > .form-control-plaintext:focus,
.form-floating > .form-control-plaintext:not(:placeholder-shown),
.form-floating > .form-control:focus,
.form-floating > .form-control:not(:placeholder-shown) {
  padding-top: 1.8rem;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px 0 8px;
  font-weight: 500;
}

.btn-lg {
  padding: 16.5px 30px 14px;
  line-height: 1;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 1000px;
}

.btn-primary {
  border-color: #8099e8;
  background: #8099e8;
}

.btn-primary:hover {
  border-color: #5c76c7;
  background: #5c76c7;
}

.btn-primary:active {
  border-color: #435eb0 !important;
  background: #435eb0 !important;
}

th {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #999;
}


/******************************************************************************/

/* Hiding input field and switching to button */

#hideInputLog { display: none; }